- provide(:title, "About")
%h1 About
%p
  The
  = succeed "," do
    %a{:href => "https://www.railstutorial.org/"}
      %em
        Ruby on Rails
        Tutorial
part of the
%a{:href => "https://www.learnenough.com/"} Learn Enough
family of
tutorials, is a
%a{:href => "https://www.railstutorial.org/book"} book
and
%a{:href => "https://screencasts.railstutorial.org/"} screencast series
to teach web development with
%a{:href => "https://rubyonrails.org/"}> Ruby on Rails
\.
This is the sample app for the tutorial.
