- provide(:title, 'Log in')
%h1 Log in
.row
  .col-md-6.col-md-offset-3
    = form_with(url: login_path, scope: :session, local: true) do |f|
      = f.label :email
      = f.email_field :email, class: 'form-control'

      = f.label :password
      = link_to "(forgot password)", new_password_reset_path
      = f.password_field :password, class: 'form-control'

      = f.label :remember_me, class: "checkbox inline" do
        = f.check_box :remember_me
        %span Remember me on this computer
      = f.submit "Log in", class: 'btn btn-primary'

    %p
      New User?
      = link_to("Sign up now!", signup_path)
