- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
  .col-md-8
    - if @user.microposts.any?
      %h3= "Microposts (#{@user.microposts.count})"
      %ol.microposts= render @microposts
      = will_paginate @microposts
