= form_with(model: @micropost, local: true) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :content, placeholder: "Compose new micropost..."
  = f.submit "Post", class: 'btn btn-primary'
  %span.image
    = f.file_field :image, accept: "image/jpeg,image/gif,image/png"
